<footer class="footer mt-auto py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Wiki Web Page</h5>
        <img src="../../assets/img/banner.png" width="150" height="150" alt="Logo" class="logofoot">
      </div>
      <div class="col-md-4 mb-3">
        <h5>Enlaces útiles</h5>
        <ul class="list-unstyled">
          <li><a href="home" class="text-black">Inicio</a></li>
          <li><a href="info" class="text-black">Descubre</a></li>
          <li><a href="about" class="text-black">Acerca de </a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Contáctanos</h5>
        <p>
          <i class="fas fa-envelope"></i>andrewarrobasi.com  <br>
          <i class="fas fa-phone"></i> +123 456 7890
        </p>
        <div class="social-icons">
          <a href="home" class="text-black mr-3"><i class="fab fa-facebook"></i></a>
          <a href="home" class="text-black mr-3"><i class="fab fa-twitter"></i></a>
          <a href="home" class="text-black mr-3"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <span>&copy; 2024 Wiki Web Page. Todos los derechos reservados.</span>
    </div>
  </div>
</footer>
