<div class="container text-center" id="main">
    <br><br>
    <div class="row align-items-center">
        <div class="col-md-6">
            <h3 class="display-4">Acerca de Nosotros</h3>
            <br><br>
            <p class="lead">Wiki Web Page es un proyecto personal diseñado para proporcionar información detallada sobre los Paises
                del continente Americano. Utilizando y consumiendo diversas APIs, logramos presentar una variedad de datos
                relacionados con este tema en particular, ofreciendo una experiencia enriquecedora y completa para
                nuestros usuarios.</p>
        </div>
        <div class="col-md-6">
            <img src="../../assets/img/trabajador.png" alt="Trabajador" class="img-fluid" width="60%">
        </div>
    </div>
    <br><br>
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="../../assets/img/mision.jpg" alt="Misión" class="img-fluid rounded-image" width="400" height="350">
        </div>
        <div class="col-md-6">
            <h3 class="display-4">Nuestra Misión</h3>
            <br>
            <p class="lead">En Wiki, nuestra misión es proporcionar un recurso confiable y accesible para el
                aprendizaje y la exploración del conocimiento. Nos dedicamos a ofrecer información detallada y precisa
                en nuestro tema de interés. Nuestro objetivo es
                crear una plataforma donde los usuarios puedan encontrar, compartir y contribuir con información
                valiosa.</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <h3 class="display-4">Únete a Nosotros</h3>
            <p class="lead">Si compartes nuestra pasión por el conocimiento y deseas contribuir, ¡nos encantaría saber de ti! Puedes unirte a nuestra comunidad, colaborar con nosotros y ayudar a expandir el alcance de nuestra wiki.</p>
            <br>`
            <img src="../../assets/img/equipo.jpg" alt="" width="60%" height="50%" class="equipo">
            <p class="fin">¡Explora, aprende y comparte con nosotros en Wiki!</p>
        </div>
    </div>
    <br><br>
</div>
